@media(min-width: 450px)
{
	body{
		.responsive
		{
			display: inline-block;
			width: 200px;
		}
	}
}
@media(min-width: 1000px)
{
	body{
		.responsive
		{
			display: inline-block;
			width: 500px;
		}
	}
}
